*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    font-family: 'Marcellus', serif;

}

.Header  {
    color: whitesmoke;
    margin: 5px 5px 20px 5px;
    background: rgb(29,53,128);
    background: linear-gradient(180deg, rgba(29,53,128,1) 0%, rgba(80,80,80,1) 2%, rgba(42,56,84,1) 24%, rgba(39,54,84,1) 100%);    height: 200px;
    width: auto;
    align-content: center;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;

}

.nav td{
    width: 33%;
    text-align: center;
    border: 1px solid white;
}

.Header h1 {
    font-weight: 900;
    font-size: xxx-large;
    font-family: 'Jura', sans-serif;
}

.Header h2 {
    
    margin: 20px 0 20px 0;
    font-family: 'Kaushan Script', cursive;

}
.Header a {
    color: whitesmoke;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: none;
}
.Header table {
    width: 100%;
    justify-content: center;
}
.polaroid {
  width: 210px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#profile_pic {
    width: 200px;
}
.main  {
    color: whitesmoke;
    margin: 5px 5px 20px 5px;
    background: rgb(29,53,128);
    background: linear-gradient(180deg, rgba(29,53,128,1) 0%, rgba(80,80,80,1) 2%, rgba(42,56,84,1) 24%, rgba(39,54,84,1) 100%);    width: auto;
    align-content: center;
    padding: 20px 50px 10px 50px;
    border-radius: 10px;

}
.fun_fact  {
    color: whitesmoke;
    margin: 5px 5px 5px 5px;
    background: rgb(29,53,128);
    background: linear-gradient(180deg, rgba(29,53,128,1) 0%, rgba(80,80,80,1) 1%, rgba(42,56,84,1) 24%, rgba(39,54,84,1) 100%);    width: auto;
    align-content: center;
    padding: 20px 50px 10px 50px;
    border-radius: 10px;

}
.fun_fact h2 {
    font-family: 'Lobster', cursive;

}
.table_title {
    vertical-align: top;
    padding: 0 10px 30px 0;
}
.table_content {
    vertical-align: top;
    padding: 0 0 30px 30px;
}
/* table {
    border: 1px solid white;
}
*/